<li><a href="{% url 'wildlifenecology'%}">WILDLIFE AND ECOLOGY</a></li>
<li><a href="{% url 'childcare' %}">CHILDCARE</a></li>
<li><a href="{% url 'education'%}">EDUCATION</a></li>
<li><a href="{% url 'healthcare'%}">HEALTHCARE</a></li>
<li><a href="{% url 'womendev' %}">WOMEN DEVELOPMENT</a></li>
<a href="{% url 'agriculture'%}">Agriculture</a>



<li><a href="wildlifenecology.html">WILDLIFE AND ECOLOGY</a></li>
            <li><a href="childcare.html">CHILDCARE</a></li>
            <li><a href="education.html">EDUCATION</a></li>
            <li><a href="healthcare.html">HEALTHCARE</a></li>
            <li><a href="womendev.html">WOMEN DEVELOPMENT</a></li>
            <li><a href="{% url 'agriculture'%}">Agriculture</a></li>