<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'table.css'%}">
    <title>CHILDCARE</title>
</head>
<body style="background-color: darkslategrey;background: -webkit-linear-gradient(left, purple, crimson);
background: linear-gradient(to right, purple, crimson);">

<h1> <b>CHILDCARE NGO</b>  </h1>
<section style="height: 0%;">
    <nav>
        <ul style="list-style-type: none; margin: 0; padding: 0;">
          <li><a href="{% url 'wildlifenecology'%}">WILDLIFE AND ECOLOGY</a></li>
          <li><a href="{% url 'agriculture'%}">AGRICULTURE</a></li>
          <li><a href="{% url 'education'%}">EDUCATION</a></li>
          <li><a href="{% url 'healthcare'%}">HEALTHCARE</a></li>
          <li><a href="{% url 'womendev' %}">WOMEN DEVELOPMENT</a></li>

            <li style="float:right"><a href="{% url 'home'%}" class="active">BACK TO HOME</a></li>
        </ul>
    </nav>
    <br>
    <div class="column">
          <img src="{% static 'cl1.gif'%}" alt="" style="width:100%">
        </div>
        <div class="column">
          <img src="{% static 'cl2.gif'%}"alt="" style="width:100%">
        </div>
        <div class="column">
          <img src="{% static 'cl3.gif'%}" alt="" style="width:100%">
        </div>
      </div>
    <br>
    
</section>


    <section style="background-color: darkslategray;">
        
        
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0" style="border-top-width: 5%;">
            <thead>
              <tr style="background-color: darkslategray;">
                <td width="80px" style="font-size: 25px;color: #fff;">Sr No.</td>
                <td style="font-size: 25px;color: #fff;">Name of the NGO</td>
                <td style="font-size: 25px;color: #fff;">Location</td>
                <td style="font-size: 25px;color: #fff;">Link to their webpage</td>

            </tr>
                <tr>

                  <td>1</td>
                  <td>Child Help Foundation: Pune</td>
                  <td>CASP Bhavan, S.No. 132/2,Plot No.3, Pashan Baner Link Road,Pashan, Pune 411021 Maharashtra</td>
                  <td> <a href="https://www.giveindia.org/nonprofit/community-aid-sponsorship-programme-casp">https://www.giveindia.org/nonprofit/community-aid-sponsorship-programme-casp</a> </td>
              </tr>
              <td>2</td>
              <td>Upay Centre: Dandekar</td>
              <td>Dandekar Pool, Municipal Colony, GR2W+HQX, Pune Maharashtra</td>
              <td> <a href="Bridgehttps://nicelocal.in/pune/education/upay_centre_-dandekar_bridge/">Bridgehttps://nicelocal.in/pune/education/upay_centre-_dandekar_bridge/</a> </td>
              </tr>
              <td>3</td>
              <td>Bhagini Nivedita Pratishthan: Pune  </td>
              <td>7, Bhupati complex, 985 Sadashiv peth,Pune: 411030.</td>
              <td> <a href="https://niveditapune.org.in/">https://niveditapune.org.in/</a> </td>
              </tr>
              <td>4</td>
              <td>IDEA Foundation: Pune </td>
              <td>Survey Number :18/2/6B, B-4, Chaitanya Society, Brahmachaitanya Society lane, Near Ambedkar Chowk,Warje, Pune, 411058</td>
              <td><a href="https://ideafoundation.org.in/">https://ideafoundation.org.in/</a> </td>
              </tr>
              <td>5</td>
              <td>Social Action for Manpower Creation </td>
              <td>SAMPARC Bhaje Balgram, Village Bhaje, Near Malavli Railway Station, Taluka Maval, District Pune, Maharashtra, 410405.</td>
              <td> <a href="https://samparc.org/">https://samparc.org/ </a> </td>
              </tr>
              <td>6</td>
              <td>Swadhar IDWC (Institute for Development of Women & Children)</td>
              <td>Flat No 301, Dhan-Shree Apt, Opp Chittaranjan Vatika, Model Colony, Shivajinagar, Pune 411005</td>
              <td> <a href="https://www.swadharpune.org/">https://www.swadharpune.org/</a> </td>
              </tr>
              <td>7</td>
              <td>Pratham pune</td>
              <td>Flat 9, Birmal Sadan, 42 Erandwna, Paud Phata, Karve Road Kothrud Pune 411 038</td>
              <td> <a href="http://prathampune.org/">http://prathampune.org/</a> </td>
              </tr>
              <td>8</td>
              <td>ATMA : Accelerator For Education</td>
              <td>Flat number 8, 4th floor, Leela Manik Apartment, 440, Mudaliar Road, Rasta Peth, Camp, Pune, 411011</td>
              <td> <a href="https://atma.org.in">https://atma.org.in</a> </td>
              </tr>
              <td>9</td>
              <td>Mauli balakashram </td>
              <td>Konark Meadows Society A Wing 202 2nd Floor, Wagholi, Pune, 412207</td>
              <td> <a href=" http://www.nitiniketan.com/"> http://www.nitiniketan.com/</a> </td>
              </tr>
              <td>10</td>
              <td>Caring hands</td>
              <td>Kalashram, Mangrul Road, Ambi Village (Talegaon Dabhade), Tal-Maval, Dist- Pune, 410507</td>
              <td> <a href="http://www.caringhands.org.in/">http://www.caringhands.org.in/ </a> </td>
              </tr>
              <td>11</td>
              <td>Royal Rose Foundation </td>
              <td>S.No 13/5/1 William Nagar, Morya Park No 1, Pimple Gurav, Pune, 411061</td>
              <td> <a href="http://www.royalrosefoundation.org/">http://www.royalrosefoundation.org/</a> </td>
              </tr>
              <td>12</td>
              <td>Hope for the Children Foundation</td>
              <td>Hope for the Children Foundation, Pakia Nivas Building, Mamta Housing Society, Lane No. - 3, Survey Number 57/1/1,Near Stella Maris School,Vadgaonsheri,Pune 411014 </td>
              <td> <a href="http://www.hopeforthechildrenfdn.org/ ">http://www.hopeforthechildrenfdn.org/ </a> </td>
              </tr>
              <td>13</td>
              <td>Smile foundation</td>
              <td>Office No. 137, 1st Floor, Clover Centre Co-Op Housing Society Ltd. 7 Moledina Road, Pune, 411001</td>
              <td> <a href="https://www.smilefoundationindia.org/p_bht.html ">https://www.smilefoundationindia.org/p_bht.html</a> </td>
              </tr>
      
      
              
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              
            </tbody>
          </table>
        </div>
      </section>
      
      
      
     <!-- follow me template -->
      <div class="made-with-love">
        <h2>Made with <i style="font-size: large;">♥</i> by <a href="{% url 'about'%}">Students of PICT</a> </h2>
      </div>
      <script src="{% static 'table.js'%}"></script>
    
    
</body>
</html>